<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row bg-secondary text-white">
    <span>Angular Inger</span>
</header>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-lg-2">
            <nav class="nav py-3">
                <div class="nav-item mb-4">
                    <a class="nav-link" (click)="router.navigate(['mostwanted'])">Most Wanted</a>
                </div>
                <div class="nav-item mb-4">
                    <a class="nav-link" (click)="router.navigate(['neighborhood'])">Neighborhood View</a>
                </div>
            </nav>
        </div>
        <div class="col-12 col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>