<div class="card mt-2">
    <h2 class="card-header">
        Neighborhood View
    </h2>
    <div class="card-body">
        <app-neighborhood-map></app-neighborhood-map>
    </div>
    <div class="card-footer text-muted">
        Click and draw a polygon around a neighborhood.
    </div>
</div>
<div class="card mt-2">
    <h2 class="card-header">
        Player activity by hour
    </h2>
    <div class="card-body">
        <app-neighborhood-hourly-chart></app-neighborhood-hourly-chart>
    </div>
</div>
<div class="card mt-2">
    <h2 class="card-header">
        Most active players
    </h2>
    <div class="card-body">
        <app-neighborhood-player-chart></app-neighborhood-player-chart>
    </div>
</div>