<mat-grid-list cols="2">
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Most Wanted</mat-card-title>
            </mat-card-header>
            <app-mostwanted-map></app-mostwanted-map>
            <mat-card-footer><p class="map-footer">You may filter the map by gameplay objective and team.</p></mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Enlightenment</mat-card-title>
            </mat-card-header>
            <app-mostwanted-table [team]="1"></app-mostwanted-table>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Resistance</mat-card-title>
            </mat-card-header>
            <app-mostwanted-table [team]="2"></app-mostwanted-table>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>